@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&family=Quicksand:wght@400;500;600;700&display=swap');

* {
    font-family: "Poppins", "Quicksand";
}

body {
    background-color: #80808040;
    display: flex;
    justify-content: center;
}

#app {
    background-color: #ffffff;
    min-height: 100vh;
    min-width: 500px;
    width: 650px;
    border-radius: 0.3rem;
    box-shadow: 0 0 3px 1px #9d9d9d;
}

.c-primary {
    color: #009E1A;
}

.c-primary:hover {
    color: #009E1A;
}

.c-primary:focus {
    color: #009E1A;
    box-shadow: none;
}

#searching {
    font-size: 12px;
}

.t-small {
    font-size: 10px;
}

.b-primary {
    border: 2px solid #009E1A;
}

.b-primary:focus {
    border: 3px solid #009E1A;
}

.t-medium {
    font-size: 12px;
}

.bg_primary {
    background-color: #009E1A;
}

::-webkit-input-placeholder { /* Edge */
    color: #009E1A!important;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #009E1A!important;
  }
  
  ::placeholder {
    color: #009E1A!important;
  }

  .foods {
    border: 1px solid #e4e4e4;
    margin-top: -5px;
    box-shadow: 0 0 6px 0px #80808063;
  }

  .container-food {
    min-height: 100px;
  }
